<h1>About Us</h1>

<p>
  This Database portal was written using Ruby on Rails with the assistance of the 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  , a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>.
</p>
